<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慧康|登陆</title>
	<link href="../../statics/css/style.css" rel="stylesheet" type="text/css" />
	<link href="../../statics/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="wrap login-wrap">
		<div class="g-container">
			<!-- 登陆box -->
			<div class="login-box">
				<div class="wrap login-logo">
					<!-- logo -->
					<span></span>
				</div>
				<div class="wrap">
					<h1>家庭医生工作管理系统</h1>
				</div>
				<!-- 登陆表单 -->
				<form class="wrap" id="login-form">
					<!-- 用户名 -->
					<div class="form-item">
						<label class="user-icon" for="user-name"></label>
						<input type="text" id="user-name" name="">
					</div>
					<!-- 密码 -->
					<div class="form-item">
						<label class="user-icon pwd" for="user-name"></label>
						<input type="text" id="user-name" name="">
					</div>
					<!-- 登陆按钮 -->
					<div class="form-item blue">
						<input type="button" name="submit" value="登陆"> 
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>